@charset "utf-8";
:root {
--reset-body-text: #666666;
--reset-body-bg: #FDFDFC;
--content-bg: #FFFDFA;
--white: #FEFFFF;
--disable: #D3C9B3;
--border: #EFEFEF;
--gutter: #DDDDDD;
--green: #42b983;
--black: #161616;
--dark: #34495e;
--blk: #45317F;
--blue: #0055AA;
--b-grey: #DFE7EA;
--yellow:#E59900;
--yellow-1:#FFAA00;
--yellow-3:#FFFDFA;
--orange:#FF6A00;
--green: #42b983;
--b-blue:#ADE6FF;
--d-grey:#424242;
--black2:#1F0D21;
--alert: #FF7070;
--temp: #E0BE88;
}
