:root {
--link: #42b983;
--red: #FF3366;
--yellow: #FFAA00;
--dark: #34495e;
--d-grey: #424242;
--b-grey: #dddddd;
--green: #42b983;
--d-blue: #0055AA;
--b-blue: #ADE6FF;
--white: #feffff;
}

/* .sidebar nav .top-nav */

/* changelog tables */
.table-current th code { color: var(--white); background-color: var(--red); }
.table-archived th code { color: var(--white); background-color: var(--green); }
.table-archived { padding-bottom: 50px; }
.table-current, .table-archived { line-height: 1.6em; }
.table-current td, .table-archived td { width: 100em; word-break: break-word; hyphens: auto; line-height: 1.6em; }
.table-current td code, .table-archived td code { word-break: keep-all; background-color: var(--grey);
border-radius: 3px; color: var(--dark); font-family: inherit; font-size: inherit; font-weight: 600; margin: 0 2px; padding: 0px 6px; line-height: 1.4em; white-space: pre-wrap; display: inline-block; }

/* download page */
.list-of-links a { color: var(--green); }
.list-of-links a:hover { color: var(--red); transition: color 0.3s; }
.text-decoration-none, .text-decoration-none a, a i { text-decoration: none; }
.list-style-none { list-style: none; }
.list-of-links a:hover i { padding-left:5px; transition: 0.3s;}



.sidebar nav .top-nav { padding: 10px 0px; background-color: var(--dark); }
.top-nav .version { color: var(--white); }
.top-nav ul li del { color: var(--yellow); }
.top-nav .disable, .markdown-section .disable { color: var(--yellow); }


.fas { width: 2em; text-align: center; }
nav li { !important; line-height: 2em;}
.sidebar nav { padding: 10px 0px;  }
/* Table tweaks for changelog.md */

/* Tweak coverpage.md */
.ocver h1 { color: #feffff; font-size: 50rem;}
.show { background: #091e3f !important;  }

/* Tweak Sidebar */
.xxx code { color: white;
    background-color: #FF3366;
    padding: 4px 4px;
    border-radius: 4px;
    width: auto;
    text-align: center;}

    .sidebar ul li:hover > a {
  border-right: 2px solid;
  color: var(--red-color);
  font-weight: inherit; }

  .sidebar-nav hr {   border: none;
    border-bottom: 1px solid #eee;
    margin: 1em 3em; }
}
